html
	head
		title= "Acquisition Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach  

		if owner === 'all'
			if hit_or_pit == "hit"
				h2= "Combined Hitter Baseball Acquisition Analysis"
			else if hit_or_pit == "pit"
				h2= "Combined Pitcher Baseball Acquisition Analysis"
		else
			if hit_or_pit == "hit"
				h2= owner + "'s " + year + " Hitter Baseball Acquisition Analysis"
			else if hit_or_pit == "pit"
				h2= owner + "'s " + year + " Pitcher Baseball Acquisition Analysis"

		if hit_or_pit == "hit"
		
			table
				thead
					tr
						th RANK
						th PLAYER
						th WEIGHTED PR
						th ACQUIRED
						th DRAFT POSITION
						th ACQUISITION WEIGHT
						th ACQUISITION VALUE
						th PR
						th GP
						th AB
						th H
						th R
						th HR
						th RBI
						th BB
						th SO
						th SB
						th OBP
						if owner === "all"
							th OWNER

				tbody
					each readin, rank in acquisitions
						tr
							td= rank + 1
							each val, cat in readin
								if cat === "player"
									td= val
								if cat === "weighted_PR"
									td= parseFloat(val).toFixed(2)
								if cat === "acquired"
									td= val
								if cat === "draft_position"
									td= val
								if cat === "acquisition_weight"
									td= parseFloat(val).toFixed(2)
								if cat === "acquisition_value"
									td= parseFloat(val).toFixed(2)
								if cat === "PR"
									td= parseFloat(val).toFixed(2)
								if cat === "GP"
									td= val
								if cat === "AB"
									td= val
								if cat === "H"
									td= val
								if cat === "R"
									td= val
								if cat === "HR"
									td= val
								if cat === "RBI"
									td= val
								if cat === "BB"
									td= val
								if cat === "SO"
									td= val
								if cat === "SB"
									td= val
								if cat === "OBP"
									td= parseFloat(val).toFixed(3)
								if owner === 'all'
									if cat === 'owner'
										td= val					


		else if hit_or_pit == "pit"
			table
					thead
						tr
							th RANK
							th PLAYER
							th WEIGHTED PR
							th ACQUIRED
							th DRAFT POSITION
							th ACQUISITION WEIGHT
							th ACQUISITION VALUE
							th PR
							th IP
							th H
							th BB
							th K
							th QS
							th W
							th SV
							th ERA
							th WHIP
							if owner === "all"
								th OWNER

					tbody
						each readin, rank in acquisitions
							tr
								td= rank + 1
								each val, cat in readin
									if cat === "player"
										td= val
									if cat === "weighted_PR"
										td= parseFloat(val).toFixed(2)
									if cat === "acquired"
										td= val
									if cat === "draft_position"
										td= val
									if cat === "acquisition_weight"
										td= parseFloat(val).toFixed(2)
									if cat === "acquisition_value"
										td= parseFloat(val).toFixed(2)
									if cat === "PR"
										td= parseFloat(val).toFixed(2)
									if cat === "IP"
										td= val
									if cat === "HA"
										td= val
									if cat === "BBA"
										td= val
									if cat === "K"
										td= val
									if cat === "QS"
										td= val
									if cat === "W"
										td= val
									if cat === "SV"
										td= val
									if cat === "ERA"
										td= parseFloat(val).toFixed(2)
									if cat === "WHIP"
										td= parseFloat(val).toFixed(2)
									if owner === 'all'
										if cat === 'owner'
											td= val					
