html
	head
		title= "Acquisition Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players

		if owner === 'all'
			h2= "Leaguewide " + year + " Baseball Acquisition Analysis"
		else
			h2= owner + "'s " + year + " Baseball Acquisition Analysis"

		if year == 2016
			p Formula for Weighted PR
			p Hitters: Weighted PR = PR * GP
			p Pitchers: Weighted PR = PR * IP / 2 
			p Formula for Draft Value = 230 points for #1 Overall Draft Position, 1 point for #230 Overall Draft Position & Free Agents
			p Formula for Acquisition Weight = (Draft Value) / 10 / 2 / 1.5
			p * Minimum for Acquisition Weight = 1.5
			p Formula for Acquisition Value = Weighted PR / Acquisition Weight			

		else
			p Formula for Draft Value = 250 points for #1 Overall Draft Position, 1 point for #250 Overall Draft Position & Free Agents
			p Formula for Acquisition Weight = (Draft Value) / 10 / 2 / 1.5
			p * Minimum for Acquisition Weight = 1.5
			p Formula for Acquisition Value = Weighted PR / Acquisition Weight			

		table
			thead
				tr
					th RANK
					th PLAYER
					th POSITION
					th WEIGHTED PR
					th ACQUIRED
					th DRAFT POSITION
					th ACQUISITION WEIGHT
					th ACQUISITION VALUE
					th PR
					if owner === "all"
						th OWNER

			tbody
				each readin, rank in acquisitions
					tr
						td= rank + 1
						each val, cat in readin
							if cat === "player"
								td= val
							if cat === "hit_or_pit"
								td= val
							if cat === "weighted_PR"
								td= parseFloat(val).toFixed(2)
							if cat === "acquired"
								td= val
							if cat === "draft_position"
								td= val
							if cat === "acquisition_weight"
								td= parseFloat(val).toFixed(2)
							if cat === "acquisition_value"
								td= parseFloat(val).toFixed(2)
							if cat === "PR"
								td= parseFloat(val).toFixed(2)
							if owner === 'all'
								if cat === 'owner'
									td= val					


