html
	head
		title= "Trade Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				//a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards

		h2= year + " Baseball Trade Analysis"

		if year == 2016
			p NOTE: Includes stats accumulated after fantasy regular season and playoffs concluded
		
		table
			thead
				tr
					th TRADE NUMBER
					th OWNER
					th PLAYER
					th GP
					th AB
					th H
					th R
					th HR
					th RBI
					th BB
					th K
					th SB
					th OBP
					th IP
					th H
					th ER
					th BB
					th K
					th QS
					th W
					th SV
					th ERA
					th WHIP 


			tbody
				each readin in trader
					tr
						each val, cat in readin
							if cat === "trade_number"
								td= val
							if cat === "owner"
								td= val
							if cat === "player"
								if val === "zzTotal"
									td= val.slice(2)
								else
									td= val
							if cat === "GP"
								td= val								
							if cat === "AB"
								td= val
							if cat === "H"
								td= val
							if cat === "R"
								td= val
							if cat === "HR"
								td= val
							if cat === "RBI"
								td= val
							if cat === "BB"
								td= val
							if cat === "SO"
								td= val
							if cat === "SB"
								td= val
							if cat === "OBP"
								td= parseFloat(val).toFixed(4)
							if cat === "IP"
								td= parseFloat(val).toFixed(1)
							if cat === "HA"
								td= val
							if cat === "ER"
								td= val
							if cat === "BBA"
								td= val
							if cat === "K"
								td= val
							if cat === "QS"
								td= val
							if cat === "W"
								td= val
							if cat === "SV"
								td= val
							if cat === "ERA"
								td= parseFloat(val).toFixed(3)
							if cat === "WHIP"
								td= parseFloat(val).toFixed(3)								