html
	head
		title= "Acquisition Analysis"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").

			$(window).on('beforeunload', function() {
				$(".loader").fadeIn("slow");
				//console.log("UNLOAD");
			})

			$(window).load(function() {
				$(".loader").fadeOut("slow");
				//console.log("LOAD");
			})

	body
		div.loader
		header
			+headliner

					
		if owner === 'all'
			h2= "Leaguewide " + year + " Baseball Acquisition Analysis"
		else
			h2= owner + "'s " + year + " Baseball Acquisition Analysis"
			
		p Formula for Weighted PR
		p Hitters: Weighted PR = PR * GP
		p Pitchers: Weighted PR = PR * IP / 2 

		if year == 2016
			p Formula for Draft Value = 230 points for #1 Overall Draft Position, 1 point for #230 Overall Draft Position & Free Agents
		else
			p Formula for Draft Value = 250 points for #1 Overall Draft Position, 1 point for #250 Overall Draft Position & Free Agents

		p Formula for Acquisition Weight = (Draft Value) / 10 / 2 / 1.5
		p * Minimum for Acquisition Weight = 1.5
		p Formula for Acquisition Value = Weighted PR / Acquisition Weight	

		if year == 2016
			p NOTE: Includes stats accumulated after fantasy regular season and playoffs concluded

		table
			thead
				tr
					th RANK
					th PLAYER
					th POSITION
					th WEIGHTED PR
					th ACQUIRED
					th DRAFT POSITION
					th ACQUISITION WEIGHT
					th ACQUISITION VALUE
					th PR
					if owner === "all"
						th OWNER

			tbody
				each readin, rank in acquisitions
					tr
						td= rank + 1
						each val, cat in readin
							if cat === "player"
								td= val
							if cat === "hit_or_pit"
								td= val
							if cat === "weighted_PR"
								td= parseFloat(val).toFixed(2)
							if cat === "acquired"
								td= val
							if cat === "draft_position"
								td= val
							if cat === "acquisition_weight"
								td= parseFloat(val).toFixed(2)
							if cat === "acquisition_value"
								td= parseFloat(val).toFixed(2)
							if cat === "PR"
								td= parseFloat(val).toFixed(2)
							if owner === 'all'
								if cat === 'owner'
									td= val					


