html
	head
		title= "Trade Analysis"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner

					
		h2= year + " Baseball Trade Analysis"

		if year == 2016
			p NOTE: Includes stats accumulated after fantasy regular season and playoffs concluded
		
		table
			thead
				tr
					th TRADE NUMBER
					th OWNER
					th PLAYER
					th GP
					th AB
					th H
					th R
					th HR
					th RBI
					th BB
					th K
					th SB
					th OBP
					th IP
					th H
					th ER
					th BB
					th K
					th QS
					th W
					th SV
					th ERA
					th WHIP 


			tbody
				each readin in trader
					tr
						each val, cat in readin
							if cat === "trade_number"
								td= val
							if cat === "owner"
								td= val
							if cat === "player"
								if val === "zzTotal"
									td= val.slice(2)
								else
									td= val
							if cat === "GP"
								td= val								
							if cat === "AB"
								td= val
							if cat === "H"
								td= val
							if cat === "R"
								td= val
							if cat === "HR"
								td= val
							if cat === "RBI"
								td= val
							if cat === "BB"
								td= val
							if cat === "SO"
								td= val
							if cat === "SB"
								td= val
							if cat === "OBP"
								td= parseFloat(val).toFixed(4)
							if cat === "IP"
								td= parseFloat(val).toFixed(1)
							if cat === "HA"
								td= val
							if cat === "ER"
								td= val
							if cat === "BBA"
								td= val
							if cat === "K"
								td= val
							if cat === "QS"
								td= val
							if cat === "W"
								td= val
							if cat === "SV"
								td= val
							if cat === "ERA"
								td= parseFloat(val).toFixed(3)
							if cat === "WHIP"
								td= parseFloat(val).toFixed(3)								