html
	head
		title= "Acquisition Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach  

		if owner === 'all'
			h2= "Combined Basketball Acquisition Analysis"
		else
			h2= owner + "'s " + year + " Basketball Acquisition Analysis"
				
		
		table
			thead
				tr
					th RANK
					th PLAYER
					th WEIGHTED PR
					th ACQUIRED
					th DRAFT POSITION
					th ACQUISITION WEIGHT
					th ACQUISITION VALUE
					th PR
					th GP
					th FG
					th FG %
					th FT
					th FT %
					th 3PM
					th REB
					th AST
					th STL
					th BLK
					th TO
					th PTS
					if owner === "all"
						th OWNER

			tbody
				each readin, rank in acquisitions
					tr
						td= rank + 1
						each val, cat in readin
							if cat === "player"
								td= val
							if cat === "weighted_PR"
								td= parseFloat(val).toFixed(2)
							if cat === "acquired"
								td= val
							if cat === "draft_position"
								td= val
							if cat === "acquisition_weight"
								td= parseFloat(val).toFixed(2)
							if cat === "acquisition_value"
								td= parseFloat(val).toFixed(2)
							if cat === "PR"
								td= parseFloat(val).toFixed(2)
							if cat === "GP"
								td= val
							if cat === "FG"
								td= val
							if cat === "FG_PCT"
								td= parseFloat(val).toFixed(3)
							if cat === "FT"
								td= val
							if cat === "FT_PCT"
								td= parseFloat(val).toFixed(3)
							if cat === "THREEPM"
								td= val
							if cat === "REB"
								td= val
							if cat === "AST"
								td= val
							if cat === "STL"
								td= val
							if cat === "BLK"
								td= val
							if cat === "TO"
								td= val
							if cat === "PTS"
								td= val
							if owner === 'all'
								if cat === 'owner'
									td= val					

