html
	head
		title= "2016 Football Standings"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/football_standings=2015' class = 'navbar') 2015 Football Standings
				a(href= '/basketball_standings=2016' class = 'navbar') 2016 Basketball Standings
				a(href= '/baseball_standings=2016' class = 'navbar') 2016 Baseball Standings
				a(href= '/trifecta_standings/2015/2016' class = 'navbar') 2015-2016 Trifecta Season Standings
				a(href= '/football_standings=2016' class = 'navbar') 2016 Football Standings
				a(href= '/basketball_standings=2017' class = 'navbar') 2017 Basketball Standings
				a(href= '/trifecta_standings/2016/2017' class = 'navbar') 2016-2017 Trifecta Season Standings
				
		h2= year + " Baseball Matchup Standings"


		h4= "Head to Head Owners"
		p= owner + " vs..."
		table
			thead
				tr
					th OPPOSING OWNER
					th WINS
					th LOSSES
					th TIES
					th WIN %

			tbody
				each readin in matchup_standings
					tr
						each val, cat in readin
							if cat === "opposing_owner"
								td= val
							if cat === "wins"
								td= val
							if cat === "losses"
								td= val
							if cat === "ties"
								td= val
							if cat === "win_per"
								td= val
