html
	head
		title= "Trade Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach  

		h2= year + " Basketball Trade Analysis"
				
		
		table
			thead
				tr
					th TRADE NUMBER
					th OWNER
					th PLAYER
					th GP
					th FG
					th FG %
					th FT
					th FT %
					th 3PM
					th REB
					th AST
					th STL
					th BLK
					th TO
					th PTS

			tbody
				each readin in trader
					tr
						each val, cat in readin
							if cat === "trade_number"
								td= val						
							if cat === "owner"
								td= val
							if cat === "player"
								if val === "zzTotal"
									td= val.slice(2)
								else
									td= val								
							if cat === "GP"
								td= val
							if cat === "FG"
								td= val
							if cat === "FG_PCT"
								td= parseFloat(val).toFixed(4)
							if cat === "FT"
								td= val
							if cat === "FT_PCT"
								td= parseFloat(val).toFixed(4)
							if cat === "THREEPM"
								td= val
							if cat === "REB"
								td= val
							if cat === "AST"
								td= val
							if cat === "STL"
								td= val
							if cat === "BLK"
								td= val
							if cat === "TO"
								td= val
							if cat === "PTS"
								td= val
