html
	head
		title= year + " Basketball Standings"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/football_standings/2015' class = 'navbar') 2015 Football Standings
				a(href= '/basketball_standings/2016' class = 'navbar') 2016 Basketball Standings
				a(href= '/baseball_standings/2016' class = 'navbar') 2016 Baseball Standings
				a(href= '/trifecta_standings/2015/2016' class = 'navbar') 2015-2016 Trifecta Season Standings
				a(href= '/football_standings/2016' class = 'navbar') 2016 Football Standings
				a(href= '/basketball_standings/2017' class = 'navbar') 2017 Basketball Standings
				a(href= '/trifecta_standings/2016/2017' class = 'navbar') 2016-2017 Trifecta Season Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records


		h2= year + " Basketball Standings"


		h4= "Head to Head Standings"
		table
			thead
				tr
					th TEAM
					th WINS
					th LOSSES
					th TIES
					th WIN %
					th DIVISION
					th H2H TRIFECTA POINTS
			tbody
				each readin in h2h_standings
					tr
						each val, cat in readin
							if cat === "team"
								td= val
							if cat === "wins"
								td= val
							if cat === "losses"
								td= val
							if cat === "ties"
								td= val
							if cat === "win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "division"
								td= val
							if cat === "h2h_trifecta_points"
								td= val

		h4= "Roto Standings"
		p= "NOTE: In " + year + ", roto was not taken into consideration for total trifecta points"
		table
			thead
				tr
					th TEAM
					th FG%
					th FT%
					th 3PM
					th REB
					th AST
					th STL
					th BLK 
					th TO
					th PTS
					th TOTAL ROTO POINTS
					th ROTO TRIFECTA POINTS
			tbody
				each next in roto_standings
					tr
						each val, cat in next
							if cat === "team"
								td= val
							if cat === "FG_PCT"
								td= parseFloat(val).toFixed(4)
							if cat === "FT_PCT"
								td= parseFloat(val).toFixed(4)
							if cat === "THREEPM"
								td= val
							if cat === "REB"
								td= val
							if cat === "AST"
								td= val
							if cat === "STL"
								td= val
							if cat === "BLK"
								td= val
							if cat === "TO"
								td= val
							if cat === "PTS"
								td= val
							if cat === "total_roto_points"
								td= val
							if cat === "roto_trifecta_points"
								td= val			

