html
	head
		title= "Trade Analysis"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

		script(type="text/javascript").

			$(window).on('beforeunload', function() {
				$(".loader").fadeIn("slow");
				//console.log("UNLOAD");
			})

			$(window).load(function() {
				$(".loader").fadeOut("slow");
				//console.log("LOAD");
			})

	body
		div.loader
		header
			+headliner

					
		h2= year + " Football Trade Analysis"

		if year == 2016
			p NOTE: Includes stats accumulated after fantasy regular season and playoffs concluded		
		
		table
			thead
				tr
					th TRADE NUMBER
					th OWNER
					th PLAYER
					th PTS
					th COMP/ATT
					th PASS YDS
					th PASS TD
					th PASS INT
					th RUSH
					th RUSH YDS
					th RUSH TD
					th REC
					th REC YDS
					th REC TD
					th REC TAR
					th MISC FUML
					th MISC TD

			tbody
				each readin in trader
					tr
						each val, cat in readin
							if cat === "trade_number"
								td= val						
							if cat === "owner"
								td= val
							if cat === "player"
								if val === "zzTotal"
									td= val.slice(2)
								else
									td= val
							if cat === "PTS"
								td= parseFloat(val).toFixed(1)
							if cat === "PASS"
								td= val
							if cat === "PASS_YDS"
								td= val
							if cat === "PASS_TD"
								td= val
							if cat === "PASS_INT"
								td= val
							if cat === "RUSH"
								td= val
							if cat === "RUSH_YDS"
								td= val
							if cat === "RUSH_TD"
								td= val
							if cat === "REC"
								td= val
							if cat === "REC_YDS"
								td= val
							if cat === "REC_TD"
								td= val
							if cat === "REC_TAR"
								td= val
							if cat === "MISC_FUML"
								td= val
							if cat === "MISC_TD"
								td= val

