html
	head
		title= "Trade Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players

		h2= year + " Football Trade Analysis"
		
		table
			thead
				tr
					th TRADE NUMBER
					th OWNER
					th PLAYER
					th PTS
					th COMP/ATT
					th PASS YDS
					th PASS TD
					th PASS INT
					th RUSH
					th RUSH YDS
					th RUSH TD
					th REC
					th REC YDS
					th REC TD
					th REC TAR
					th MISC FUML
					th MISC TD

			tbody
				each readin in trader
					tr
						each val, cat in readin
							if cat === "trade_number"
								td= val						
							if cat === "owner"
								td= val
							if cat === "player"
								if val === "zzTotal"
									td= val.slice(2)
								else
									td= val
							if cat === "PTS"
								td= parseFloat(val).toFixed(1)
							if cat === "PASS"
								td= val
							if cat === "PASS_YDS"
								td= val
							if cat === "PASS_TD"
								td= val
							if cat === "PASS_INT"
								td= val
							if cat === "RUSH"
								td= val
							if cat === "RUSH_YDS"
								td= val
							if cat === "RUSH_TD"
								td= val
							if cat === "REC"
								td= val
							if cat === "REC_YDS"
								td= val
							if cat === "REC_TD"
								td= val
							if cat === "REC_TAR"
								td= val
							if cat === "MISC_FUML"
								td= val
							if cat === "MISC_TD"
								td= val

