html
	head
		title= year + " Coach Rankings"
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner

					
		h2= year + " Football Coach Rankings"
		h4 Points lost from played starting lineup relative to optimal starting lineup

		table
			thead
				tr
					th RANK
					th OWNER
					- for (n = 1; n <= completed_weeks; n++) {
						th= "WEEK " + n
					- }
					th SEASON TOTAL

			tbody
				each readin, rank in coach_standings
					tr
						td= rank + 1
						each val, cat in readin
							if cat === "owner"
								td= val
							if cat === "week1"
								td= parseFloat(val).toFixed(1)
							if cat === "week2"
								td= parseFloat(val).toFixed(1)
							if cat === "week3"
								td= parseFloat(val).toFixed(1)
							if cat === "week4"
								td= parseFloat(val).toFixed(1)
							if cat === "week5"
								td= parseFloat(val).toFixed(1)
							if cat === "week6"
								td= parseFloat(val).toFixed(1)
							if cat === "week7"
								td= parseFloat(val).toFixed(1)
							if cat === "week8"
								td= parseFloat(val).toFixed(1)
							if cat === "week9"							
								td= parseFloat(val).toFixed(1)
							if cat === "week10"
								td= parseFloat(val).toFixed(1)
							if cat === "week11"
								td= parseFloat(val).toFixed(1)
							if cat === "week12"
								td= parseFloat(val).toFixed(1)
							if cat === "week13"
								td= parseFloat(val).toFixed(1)
							if cat === "season"
								td= parseFloat(val).toFixed(1)