html
	head
		title= "Acquisition Analysis"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner

					
		if owner === 'all'
			h2= "Leaguewide " + year + " Football Acquisition Analysis"
		else
			h2= owner + "'s " + year + " Football Acquisition Analysis"	

		p Formula for Draft Value = 160 points for #1 Overall Draft Position, 1 point for #160 Overall Draft Position & Free Agents
		p Formula for Acquisition Weight = (Draft Value) / 10 / 1.5
		p * Minimum for Acquisition Weight = 1.5
		p Formula for Acquisition Value = PTS / Acquisition Weight

		if year == 2016
			p NOTE: Includes stats accumulated after fantasy regular season and playoffs concluded
			
		table
			thead
				tr
					th RANK
					th PLAYER
					th PTS
					th ACQUIRED
					th DRAFT POSITION
					th ACQUISITION WEIGHT
					th ACQUISITION VALUE
					if owner === 'all'
						th OWNER

			tbody
				each readin, rank in acquisitions
					tr
						td= rank + 1
						each val, cat in readin
							if cat === "player"
								td= val
							if cat === "PTS"
								td= parseFloat(val).toFixed(1)
							if cat === "acquired"
								td= val
							if cat === "draft_position"
								td= val
							if cat === "acquisition_weight"
								td= parseFloat(val).toFixed(2)
							if cat === "acquisition_value"
								td= parseFloat(val).toFixed(2)
							if owner === 'all'
								if cat === 'owner'
									td= val		
