html
	head
		title= "Acquisition Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach  

		if owners === 'all'
			h2= "Combined Football Acquisition Analysis"
		else
			h2= owner + "'s " + year + " Football Acquisition Analysis"				
		
		table
			thead
				tr
					th RANK
					th PLAYER
					th PTS
					th ACQUIRED
					th DRAFT POSITION
					th ACQUISITION WEIGHT
					th ACQUISITION VALUE
					th COMP/ATT
					th PASS YDS
					th PASS TD
					th PASS INT
					th RUSH
					th RUSH YDS
					th RUSH TD
					th REC
					th REC YDS
					th REC TD
					th REC TAR
					th MISC FUML
					th MISC TD
					if owners === 'all'
						th OWNER

			tbody
				each readin, rank in acquisitions
					tr
						td= rank + 1
						each val, cat in readin
							if cat === "player"
								td= val
							if cat === "PTS"
								td= parseFloat(val).toFixed(1)
							if cat === "acquired"
								td= val
							if cat === "draft_position"
								td= val
							if cat === "acquisition_weight"
								td= parseFloat(val).toFixed(2)
							if cat === "acquisition_value"
								td= parseFloat(val).toFixed(2)
							if cat === "PASS"
								td= val
							if cat === "PASS_YDS"
								td= val
							if cat === "PASS_TD"
								td= val
							if cat === "PASS_INT"
								td= val
							if cat === "RUSH"
								td= val
							if cat === "RUSH_YDS"
								td= val
							if cat === "RUSH_TD"
								td= val
							if cat === "REC"
								td= val
							if cat === "REC_YDS"
								td= val
							if cat === "REC_TD"
								td= val
							if cat === "REC_TAR"
								td= val
							if cat === "MISC_FUML"
								td= val
							if cat === "MISC_TD"
								td= val
							if owners === 'all'
								if cat === 'owner'
									td= val		
