html
	head
		title Season Standings Home Page
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach  

		
		h2= year1 + "-" + year2 + " Season Standings Home Page"

		if baseball_in_season
			ul 
				li= year1 + " Football"
					ul
						li 
							a(href= '/football_standings/' + year1) Standings

				li= year2 + " Basketball"
					ul
						li
							a(href= '/basketball_standings/' + year2) Standings

				li= year2 + " Baseball"
					ul
						li
							a(href= '/baseball_standings/' + year2) Standings

				li= year1 + "-" + year2 + " Trifecta Standings"
					ul
						li
							a(href= '/trifecta_standings' + "/" + year1 + "/" + year2) Standings

		else if basketball_in_season
			ul 
				li= year1 + " Football"
					ul
						li 
							a(href= '/football_standings/' + year1) Standings

				li= year2 + " Basketball"
					ul
						li
							a(href= '/basketball_standings/' + year2) Standings

				li= year1 + "-" + year2 + " Trifecta Standings"
					ul
						li
							a(href= '/trifecta_standings' + "/" + year1 + "/" + year2) Standings

		else if football_in_season
			ul 
				li= year1 + " Football"
					ul
						li 
							a(href= '/football_standings/' + year1) Standings

				li= year1 + "-" + year2 + " Trifecta Standings"
					ul
						li
							a(href= '/trifecta_standings' + "/" + year1 + "/" + year2) Standings		