html
	head
		title= "Future Draft Board"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards


		h2= sport.charAt(0).toUpperCase() + sport.slice(1) + " " + year + " Draft Board"

		h4 Overall Draft Board
		table
			tbody
				each readin in draft_board
					tr
						each val, cat in readin
							if cat == "round_number"
								td= "Round " + val
							if cat == "picks"
								each pick in val
									td= pick

		h4 By Team Draft Board
		table
			thead
				tr
					th TEAM
					th PICKS

		each readin2 in by_team_draft_board
			table

				tbody
					tr
						each val, cat in readin2
							if cat == "owner_name"
								td= val
							if cat == "picks"
								each pick in val
									td= pick