html
	head
		title= "Origin Analysis"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				//a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards

		h2= year + " " + sport.charAt(0).toUpperCase() + sport.slice(1) + " Origin Analysis"
		
		if sport == "football"

			if year == "2016"
				p NOTE: Includes unscored week 17 and playoffs

			table
				thead
					tr
						th RANK
						th OWNER
						th TOTAL POINTS
						th DRAFT %
						th FA %
						th TRADE %
						th DRAFT POINTS
						th FA POINTS
						th TRADE POINTS

				tbody
					each readin, rank in origin
						tr
							td= rank + 1
							each val, cat in readin
								if cat === "owner"
									td= val
								if cat === "total_points"
									td= parseFloat(val).toFixed(1)
								if cat === "draft_pct"
									td= parseFloat(val).toFixed(1) + "%"
								if cat === "fa_pct"
									td= parseFloat(val).toFixed(1) + "%"
								if cat === "trade_pct"
									td= parseFloat(val).toFixed(1) + "%"								
								if cat === "draft_points"
									td= parseFloat(val).toFixed(1)
								if cat === "fa_points"
									td= parseFloat(val).toFixed(1)
								if cat === "trade_points"
									td= parseFloat(val).toFixed(1)

		else if sport == "basketball"

			if year == "2016"
				p NOTE: Includes unscored regular season stats and playoffs

			table
				thead
					tr
						th RANK
						th OWNER
						th TOTAL WEIGHTED PR
						th DRAFT %
						th FA %
						th TRADE %
						th DRAFT PR
						th FA PR
						th TRADE PR

				tbody
					each readin, rank in origin
						tr
							td= rank + 1
							each val, cat in readin
								if cat === "owner"
									td= val
								if cat === "total_pr"
									td= parseFloat(val).toFixed(1)
								if cat === "draft_pct"
									td= parseFloat(val).toFixed(1) + "%"
								if cat === "fa_pct"
									td= parseFloat(val).toFixed(1) + "%"
								if cat === "trade_pct"
									td= parseFloat(val).toFixed(1) + "%"								
								if cat === "draft_pr"
									td= parseFloat(val).toFixed(1)
								if cat === "fa_pr"
									td= parseFloat(val).toFixed(1)
								if cat === "trade_pr"
									td= parseFloat(val).toFixed(1)


		else if sport == "baseball"

			if year == "2016"
				p NOTE: Includes unscored regular season stats and playoffs

			table
				thead
					tr
						th RANK
						th OWNER
						th TOTAL WEIGHTED PR
						th TOTAL DRAFT %
						th TOTAL FA %
						th TOTAL TRADE %
						th TOTAL DRAFT PR
						th TOTAL FA PR
						th TOTAL TRADE PR

				tbody
					each readin, rank in origin
						tr
							td= rank + 1
							each val, cat in readin
								if cat === "owner"
									td= val
								if cat === "total_pr"
									td= parseFloat(val).toFixed(1)
								if cat === "draft_pct"
									td= parseFloat(val).toFixed(1) + "%"
								if cat === "fa_pct"
									td= parseFloat(val).toFixed(1) + "%"
								if cat === "trade_pct"
									td= parseFloat(val).toFixed(1) + "%"								
								if cat === "draft_pr"
									td= parseFloat(val).toFixed(1)
								if cat === "fa_pr"
									td= parseFloat(val).toFixed(1)
								if cat === "trade_pr"
									td= parseFloat(val).toFixed(1)