html
	head
		title= year1 + "-" + year2 + " Owner to Owner Matchups"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/profile_home_page' class = 'navbar') Owner Profiles
				a(href= '/standings_home_page/2015/2016' class = 'navbar') 2015-2016 Standings
				a(href= '/standings_home_page/2016/2017' class = 'navbar') 2016-2017 Standings
				a(href= '/owner_matchup_home_page' class = 'navbar') Owner 2 Owner Matchup Records
				a(href= '/trades_home_page' class = 'navbar') Trade Analysis
				a(href= '/stats_home_page' class = 'navbar') Roster Stats
				a(href= '/acquisition_value_home_page' class = 'navbar') Acquisition Value
				a(href= '/origin_home_page' class = 'navbar') Origin Analysis
				a(href= '/football_coach_home_page' class = 'navbar') Football Coach 
				a(href= '/popular_home_page' class = 'navbar') Most Popular Players
				//a(href= '/future_draft_boards_home_page' class = 'navbar') Future Draft Boards
				
		h2= owner + "'s " + year1 + "-" + year2 + " Trifecta Head 2 Head Owner Matchups"

		if baseball_in_season

			h4= "Overall"
			table
				thead
					tr
						th OPPOSING OWNER
						th FOOTBALL WIN %
						th BASKETBALL WIN %
						th BASEBALL WIN %
						th OVERALL WIN%
				tbody
					each readin_tri in trifecta_matchups
						tr
							each val, cat in readin_tri
								if cat === "opposing_owner"
									td= val
								if cat === "football_win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "basketball_win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "baseball_win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "total_win_per"
									td= parseFloat(val).toFixed(3)

			h4= "Football"
			table
				thead
					tr
						th OPPOSING OWNER
						th WINS
						th LOSSES
						th TIES
						th WIN %
						th POINTS FOR
						th POINTS AGAINST
						th POINT DIFFERENTIAL
				tbody
					each readin in football_matchups
						tr
							each val, cat in readin
								if cat === "opposing_owner"
									td= val
								if cat === "wins"
									td= val
								if cat === "losses"
									td= val
								if cat === "ties"
									td= val
								if cat === "win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "PF"
									td= parseFloat(val).toFixed(1)
								if cat === "PA"
									td= parseFloat(val).toFixed(1)
								if cat === "pt_diff"
									td= parseFloat(val).toFixed(1)

			h4= "Basketball"
			table
				thead
					tr
						th OPPOSING OWNER
						th WINS
						th LOSSES
						th TIES
						th WIN %

				tbody
					each readin in basketball_matchups
						tr
							each val, cat in readin
								if cat === "opposing_owner"
									td= val
								if cat === "wins"
									td= val
								if cat === "losses"
									td= val
								if cat === "ties"
									td= val
								if cat === "win_per"
									td= parseFloat(val).toFixed(3)

			h4= "Baseball"
			table
				thead
					tr
						th OPPOSING OWNER
						th WINS
						th LOSSES
						th TIES
						th WIN %

				tbody
					each readin in baseball_matchups
						tr
							each val, cat in readin
								if cat === "opposing_owner"
									td= val
								if cat === "wins"
									td= val
								if cat === "losses"
									td= val
								if cat === "ties"
									td= val
								if cat === "win_per"
									td= parseFloat(val).toFixed(3)

		else if basketball_in_season

			h4= "Overall"
			table
				thead
					tr
						th OPPOSING OWNER
						th FOOTBALL WIN %
						th BASKETBALL WIN %
						th OVERALL WIN%
				tbody
					each readin_tri in trifecta_matchups
						tr
							each val, cat in readin_tri
								if cat === "opposing_owner"
									td= val
								if cat === "football_win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "basketball_win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "total_win_per"
									td= parseFloat(val).toFixed(3)

			h4= "Football"
			table
				thead
					tr
						th OPPOSING OWNER
						th WINS
						th LOSSES
						th TIES
						th WIN %
						th POINTS FOR
						th POINTS AGAINST
						th POINT DIFFERENTIAL
				tbody
					each readin in football_matchups
						tr
							each val, cat in readin
								if cat === "opposing_owner"
									td= val
								if cat === "wins"
									td= val
								if cat === "losses"
									td= val
								if cat === "ties"
									td= val
								if cat === "win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "PF"
									td= parseFloat(val).toFixed(1)
								if cat === "PA"
									td= parseFloat(val).toFixed(1)
								if cat === "pt_diff"
									td= parseFloat(val).toFixed(1)

			h4= "Basketball"
			table
				thead
					tr
						th OPPOSING OWNER
						th WINS
						th LOSSES
						th TIES
						th WIN %

				tbody
					each readin in basketball_matchups
						tr
							each val, cat in readin
								if cat === "opposing_owner"
									td= val
								if cat === "wins"
									td= val
								if cat === "losses"
									td= val
								if cat === "ties"
									td= val
								if cat === "win_per"
									td= parseFloat(val).toFixed(3)

		else

			h4= "Overall"
			table
				thead
					tr
						th OPPOSING OWNER
						th FOOTBALL WIN %
						th OVERALL WIN%
				tbody
					each readin_tri in trifecta_matchups
						tr
							each val, cat in readin_tri
								if cat === "opposing_owner"
									td= val
								if cat === "football_win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "total_win_per"
									td= parseFloat(val).toFixed(3)

			h4= "Football"
			table
				thead
					tr
						th OPPOSING OWNER
						th WINS
						th LOSSES
						th TIES
						th WIN %
						th POINTS FOR
						th POINTS AGAINST
						th POINT DIFFERENTIAL
				tbody
					each readin in football_matchups
						tr
							each val, cat in readin
								if cat === "opposing_owner"
									td= val
								if cat === "wins"
									td= val
								if cat === "losses"
									td= val
								if cat === "ties"
									td= val
								if cat === "win_per"
									td= parseFloat(val).toFixed(3)
								if cat === "PF"
									td= parseFloat(val).toFixed(1)
								if cat === "PA"
									td= parseFloat(val).toFixed(1)
								if cat === "pt_diff"
									td= parseFloat(val).toFixed(1)