html
	head
		title= year + " " + sport.charAt(0).toUpperCase() + sport.substr(1) + " Popular Players"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner
					
		h2= year + " " + sport.charAt(0).toUpperCase() + sport.substr(1) + " Most Popular Players"


		if sport == "football"
			h4 Leaguewide
			table
				thead
					tr
						th PLAYER
						th TEAMS PLAYED FOR
						th OWNERS

				tbody
					each readin in popular_all
						tr
							each val, cat in readin
								if cat != "owner"
									if cat === "player"
										td= val
										td= popular_all[0]["owners"].length
									else if cat === "owners"
										each owner in val
											td= owner
			
			p
			
			h4 Per Owner
			table
				thead
					tr
						th OWNER
						th PLAYER
						th TRANSACTIONS
						th PTS

				tbody
					each readin in popular_individual
						tr
							each val, cat in readin
								if cat === "owner"
									td= val
								if cat === "player"
									td= val
								if cat === "transactions"
									td= val
								if cat === "PTS"
									td= val

		else 
			h4 Leaguewide
			table
				thead
					tr
						th PLAYER
						th TEAMS PLAYED FOR
						th OWNERS

				tbody
					each readin in popular_all
						tr
							each val, cat in readin
								if cat != "owner"
									if cat === "player"
										td= val
										td= popular_all[0]["owners"].length
									else if cat === "owners"
										each owner in val
											td= owner
			
			p

			h4 Per Owner
			table
				thead
					tr
						th OWNER
						th PLAYER
						th TRANSACTIONS
						th WEIGHTED PR

				tbody
					each readin in popular_individual
						tr
							each val, cat in readin
								if cat === "owner"
									td= val
								if cat === "player"
									td= val
								if cat === "transactions"
									td= val
								if cat === "weighted_PR"
									td= val	

