html
	head
		title= "Profile Standings"
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner
					
		h2= owner + "'s" + " Profile Seasons Recap"
		h4 A recap of previous seasons

		h3 Standings Recap
		
		table
			thead
				tr
					th SEASON
					th TEAM NAME
					th RANK
					th TRIFECTA POINTS
					th WIN %
					th ROTO POINTS

			tbody
				each readin in profile_standings
					tr
						each val, cat in readin
							if cat === "season"
								td= val
							if cat === "team"
								td= val
							if cat === "sport_rank"
								td= val
							if cat === "sport_trifecta_points"
								td= val
							if cat === "win_per"
								if val == "N/A"
									td= val
								else
									td= parseFloat(val).toFixed(3)
							if cat === "roto_points"
								if val == "N/A"
									td= val
								else
									td= parseFloat(val).toFixed(1)
		
		h3 Matchups Recap 
		
		table
			thead
				tr
					th SEASON
					th BEST OWNER AGAINST
					th WIN %
					th POINT DIFFERENTIAL
					th WORST OWNER AGAINST
					th WIN %
					th POINT DIFFERENTIAL

			tbody 
				each readin2 in matchup_standings
					tr
						each val, cat in readin2
							if cat === "season"
								td= val
							if cat === "best_owner"
								td= val
							if cat === "best_win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "best_pt_diff"
								if val == "N/A"
									td= val
								else
									td= parseFloat(val).toFixed(1)
							if cat === "worst_owner"
								td= val
							if cat === "worst_win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "worst_pt_diff"
								if val == "N/A"
									td= val
								else
									td= parseFloat(val).toFixed(1)

		h3 Players Recap

		h4 Sorry, but no player analysis for Football 2015
		table
			thead
				tr
					th SEASON
					th AWARD
					th PLAYER
					th PTS/WEIGHTED PR
					th ACQUIRED
					th DRAFT POSITION
					th ACQUISITION VALUE

			tbody
				each readin3 in players_standings
					tr
						each val, cat in readin3
							if cat === "season"
								td= val
							if cat === "award"
								td= val
							if cat === "player"
								td= val
							if cat === "score"
								td= parseFloat(val).toFixed(2)
							if cat === "acquired"
								td= val
							if cat === "draft_position"
								td= val
							if cat === "acquisition_value"
								td= parseFloat(val).toFixed(2)
