html
	head
		title= "Total Owner to Owner Matchups"
		link(rel="icon", type="image/x-icon", href="/images/trifectalogo.ico")
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner

									
		h2= owner + "'s" + " All-Time Trifecta Head 2 Head Owner Matchups"



		h4= "Overall"
		table
			thead
				tr
					th OPPOSING OWNER
					th FOOTBALL WIN %
					th BASKETBALL WIN %
					th BASEBALL WIN %
					th OVERALL WIN%
			tbody
				each readin_tri in trifecta_matchups
					tr
						each val, cat in readin_tri
							if cat === "opposing_owner"
								td= val
							if cat === "football_win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "basketball_win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "baseball_win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "total_win_per"
								td= parseFloat(val).toFixed(3)

		h4= "Football"
		table
			thead
				tr
					th OPPOSING OWNER
					th WINS
					th LOSSES
					th TIES
					th WIN %
					th POINTS FOR
					th POINTS AGAINST
					th POINT DIFFERENTIAL
			tbody
				each readin in football_matchups
					tr
						each val, cat in readin
							if cat === "opposing_owner"
								td= val
							if cat === "wins"
								td= val
							if cat === "losses"
								td= val
							if cat === "ties"
								td= val
							if cat === "win_per"
								td= parseFloat(val).toFixed(3)
							if cat === "PF"
								td= parseFloat(val).toFixed(1)
							if cat === "PA"
								td= parseFloat(val).toFixed(1)
							if cat === "pt_diff"
								td= parseFloat(val).toFixed(1)

		h4= "Basketball"
		table
			thead
				tr
					th OPPOSING OWNER
					th WINS
					th LOSSES
					th TIES
					th WIN %

			tbody
				each readin in basketball_matchups
					tr
						each val, cat in readin
							if cat === "opposing_owner"
								td= val
							if cat === "wins"
								td= val
							if cat === "losses"
								td= val
							if cat === "ties"
								td= val
							if cat === "win_per"
								td= parseFloat(val).toFixed(3)

		h4= "Baseball"
		table
			thead
				tr
					th OPPOSING OWNER
					th WINS
					th LOSSES
					th TIES
					th WIN %

			tbody
				each readin in baseball_matchups
					tr
						each val, cat in readin
							if cat === "opposing_owner"
								td= val
							if cat === "wins"
								td= val
							if cat === "losses"
								td= val
							if cat === "ties"
								td= val
							if cat === "win_per"
								td= parseFloat(val).toFixed(3)