html
	head
		title= "2015-2016 Trifecta Standings"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/styles.css')

	body
		header
			navbar
				a(href= '/' class = 'navbar') Home Page
				a(href= '/football_standings=2015' class = 'navbar') 2015 Football Standings
				a(href= '/basketball_standings=2016' class = 'navbar') 2016 Basketball Standings
				a(href= '/baseball_standings=2016' class = 'navbar') 2016 Baseball Standings
				a(href= '/trifecta_standings=2015_2016' class = 'navbar') 2015-2016 Trifecta Season Standings
				a(href= '/football_standings=2016' class = 'navbar') 2016 Football Standings
				a(href= '/basketball_standings=2017' class = 'navbar') 2017 Basketball Standings


		h2= year1 + "-" + year2 + " Trifecta Standings"

		table
			thead
				tr
					th OWNER
					th FOOTBALL TRIFECTA POINTS
					th BASKETBALL TRIFECTA POINTS
					th BASEBALL TRIFECTA POINTS
					th TOTAL TRIFECTA POINTS

			tbody
				each readin2 in trifecta_standings
					tr
						each val,cat in readin2
							if cat === "owner"
								td= val
							if cat === "football"
								td= val
							if cat === "basketball"
								td= val
							if cat === "baseball"
								td= val
							if cat === "total_trifecta_points"
								td= val

