html
	head
		title= "Trophy Case"
		include ./JADE-Bootstrap/_bootstrap
		include mixins.pug
		link(rel='stylesheet', type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', type="text/css", href='/css/styles.css')

	body
		header
			+headliner

		h2= owner + "'s Trophy Case"
		
		p NOTE: Some trophies not available for Football 2015

		table
			thead
				tr
					th SEASON
					th TROPHY
					th DESCRIPTION

			tbody
				each readin in trophies
					tr
						each val, cat in readin
							if cat === "season"
								td= val
							if cat === "name"
								td= val
							if cat === "description"
								td= val
